<div class="main">
  <div class="box-form">
    <div class="left d-flex flex-column">
      <h5>Sign-Up</h5>

      <div class="inputs">
        <input type="text" placeholder="username" />
        <input type="text" placeholder="name" />
        <input type="text" placeholder="last name" />
        <input type="text" placeholder="email" />
        <input type="password" placeholder="password" />
      </div>

      <p>Do you have an account? <a routerLink="/login">Login</a></p>
      <button class="btn">Sign-Up</button>
    </div>

    <div class="right">
      <div class="overlay">
        <h3>Welcome.</h3>
        <p>
          Hi there! New here? Register an account to access all our services.
          Thanks for joining us!
        </p>
      </div>
    </div>
  </div>
</div>
