<div class="main">
  <div class="box-form">
    <div class="left d-flex flex-column">
      <h5>Sign-Up</h5>

      <form [formGroup]="registerForm" (ngSubmit)="signUp()">
        <div class="inputs">
          <input
            type="text"
            placeholder="username"
            formControlName="username"
          />
          <input type="text" placeholder="name" formControlName="name" />
          <input
            type="text"
            placeholder="last name"
            formControlName="lastName"
          />
          <input type="text" placeholder="email" formControlName="email" />
          <input
            type="password"
            placeholder="password"
            formControlName="password"
          />
        </div>
        <p>Do you have an account? <a routerLink="/">Login</a></p>
        <button type="submit" class="btn" [disabled]="registerForm.invalid">
          Sign-Up
        </button>
      </form>
    </div>

    <div class="right">
      <div class="overlay">
        <h3>Welcome.</h3>
        <p>
          Hi there! New here? Register an account to access all our services.
          Thanks for joining us!
        </p>
      </div>
    </div>
  </div>
</div>
