<div class="main">
  <div class="box-form">
    <div class="left d-flex flex-column">
      <h5>Sign-Up</h5>

      <div class="inputs">
        <input type="text" placeholder="email" />
        <input type="text" placeholder="username" />
        <input type="text" placeholder="name" />
        <input type="text" placeholder="last name" />
        <input type="password" placeholder="password" />
      </div>

      <div class="action-buttons">
        <p>Do you have an account? <a routerLink="/login">Login</a></p>
        <button class="btn">Sign-Up</button>
      </div>
    </div>

    <div class="right">
      <div class="overlay">
        <h3>Welcome.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et
          est sed felis aliquet sollicitudin
        </p>
      </div>
    </div>
  </div>
</div>
