$gunmetal-color: #082c38;
$tan-color: #ccab8e;
$antique-color: #fdebd8;

.main {
  width: 100%;
  height: 100%;
}

.box-form {
  margin: 0 auto;
  width: 80%;
  background-color: $tan-color;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;

  box-shadow: 6px 4px 20px 2px rgb(8 44 56 / 53%);

  @media (max-width: 980px) {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  div {
    height: auto;
  }

  .right {
    color: $antique-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1526285759904-71d1170ed2ac?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    overflow: hidden;

    // overlay
    .overlay {
      padding: 30px;
      width: 100%;
      height: 100%;
      background: #a17e5fab;
      overflow: hidden;
      box-sizing: border-box;

      h3 {
        font-size: 8vw;
        line-height: 1;
        font-weight: 900;
        margin-top: 40px;
        margin-bottom: 20px;
      }
    }
  }

  .left {
    padding: 40px;
    overflow: hidden;
    max-width: 400px;

    h5 {
      font-size: calc(1.5rem + 3vw);
      line-height: 1;
      color: $gunmetal-color;
      margin-top: 2rem;
    }

    p {
      font-size: 14px;
      color: $antique-color;
    }

    .inputs {
      margin-top: 2rem;
      overflow: hidden;
    }

    .inputs input {
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      font-size: 16px;
      border: none;
      outline: none;
      border-bottom: 2px solid $antique-color;
      border-radius: 10px;
    }

    button {
      color: #fff;
      font-size: 16px;
      padding: 12px 35px;
      border-radius: 50px;
      display: inline-block;
      border: 0;
      outline: 0;
      box-shadow: 0px 4px 20px 0px #082c38a6;
      background-color: $gunmetal-color;
    }
  }
}
