footer {
  background-color: var(--gunmetal);
  color: var(--antique);
  padding: 0.2em;
  font-size: 12px;
  height: 1.5rem;

  a {
    color: var(--antique);
    text-decoration: none;
  }
  p {
    margin-bottom: 0;
    margin-left: 0.5em;
  }
}
