.navbar {
  background-color: var(--tan);
  color: var(--antique);
}

.nav-link.active {
  color: var(--gunmetal);
}

.nav-link {
  color: var(--antique);
}

.btn {
  border-color: var(--antique);
  color: var(--antique);
}

.navbar-toggler {
  background-color: var(--antique);
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.logout {
  background-color: var(--gunmetal);
}
