$gunmetal-color: #082c38;
$tan-color: #ccab8e;
$antique-color: #fdebd8;

.container {
  box-shadow: 0px 4px 20px 0px #082c38a6;
  border-radius: 10px;
  padding: 2em;
  background-color: $tan-color;
  color: $gunmetal-color;
}

select,
option {
  background-color: $gunmetal-color;
  padding: 0.5rem;
  color: $antique-color;
  border-radius: 10px;
}

.btn {
  background-color: $gunmetal-color;
  color: $antique-color;
}

input,
textarea {
  background-color: $antique-color;
}

.avatar {
  width: 40px;
}

.user {
  background-color: $gunmetal-color;
  color: $tan-color;
  padding: 0.5em;
  border-radius: 10px 10px 0 0;
}

.review {
  background-color: $antique-color;
  color: $gunmetal-color;
  padding: 0.5em;
  border-radius: 0 0 10px 10px;
}
