.container {
  box-shadow: 0px 4px 20px 0px #082c38a6;
  border-radius: 10px;
  padding: 2em;
  background-color: var(--tan);
  color: var(--gunmetal);
}

select,
option {
  background-color: var(--gunmetal);
  padding: 0.5rem;
  color: var(--antique);
  border-radius: 10px;
}

.btn {
  background-color: var(--gunmetal);
  color: var(--antique);
}

input,
textarea {
  background-color: var(--antique);
}

.avatar {
  width: 40px;
}

.user {
  background-color: var(--gunmetal);
  color: var(--tan);
  padding: 0.5em;
  border-radius: 10px 10px 0 0;
}

.review {
  background-color: var(--antique);
  color: var(--gunmetal);
  padding: 0.5em;
  border-radius: 0 0 10px 10px;
}
