<div *ngIf="book" class="d-flex">
  <div class="container book-container">
    <div class="row">
      <div class="d-flex justify-content-center col-sm-12 col-md-12 col-lg-3">
        <div class="book-cover-container d-flex">
          <img [src]="book.cover" alt="Book Cover" class="book-cover" />
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-9 book-details">
        <h2>{{ book.title }}</h2>
        <h3>by {{ book.author }}</h3>
        <p>{{ book.plot }}</p>
        <p>ISBN: {{ book.isbnCode }}</p>
        <p>Genre: {{ book.genre }}</p>
        <hr />
        <p *ngIf="user && user.userRole === 'USER'">
          Do you want this book on your shelf?
        </p>
        <select
          name="status"
          [(ngModel)]="bookStatus"
          (change)="onSelectChange()"
          *ngIf="user && user.userRole === 'USER'"
        >
          <option value="READ">Read</option>
          <option value="TO_READ">To Read</option>
          <option value="CURRENTLY_READING">Currently Reading</option>
        </select>

        <div
          *ngIf="isLoggedIn && user && user.userRole === 'ADMIN'"
          class="d-flex align-items-center align-content-center"
        >
          <button class="btn delete" (click)="delete(book)" *ngIf="!showDialog">
            Delete
          </button>

          <button (click)="openDialog()" *ngIf="!showDialog" class="btn update">
            Update
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <app-book-dialog *ngIf="showDialog"></app-book-dialog>
        </div>
        <button
          (click)="closeDialog()"
          *ngIf="showDialog"
          class="btn delete mt-3"
        >
          Cancel
        </button>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="media">
            <div *ngIf="movies && movies.length > 0" class="col-lg-12">
              <h5>Movies</h5>
              <div class="row">
                <div *ngFor="let movie of movies" class="col-md-12 col-lg-3">
                  <div class="imdb_card mb-3">
                    <div class="movie_poster">
                      <img src="{{ movie.poster }}" alt="poster" />
                      <div class="movie_label">
                        <h3>{{ movie.title }}</h3>
                      </div>
                    </div>
                    <div class="movie_content">
                      <div class="mov_specs flex-column">
                        <p>{{ movie.year }} | {{ movie.genre }}</p>
                        <p>
                          {{ movie.distributor }}
                        </p>
                      </div>
                      <div class="mov_description">
                        <h3>{{ movie.title }}</h3>
                        <p>{{ movie.plot }}</p>
                        <p><strong>Director:</strong> {{ movie.director }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="tvShows && tvShows.length > 0" class="col-lg-12 mt-2">
              <h5>Tv Shows</h5>
              <div class="row">
                <div *ngFor="let tvShow of tvShows" class="col-md-12 col-lg-3">
                  <div class="imdb_card mb-3">
                    <div class="movie_poster">
                      <img src="{{ tvShow.poster }}" alt="poster" />
                      <div class="movie_label">
                        <h3>{{ tvShow.title }}</h3>
                      </div>
                    </div>
                    <div class="movie_content">
                      <div class="mov_specs flex-column">
                        <p>{{ tvShow.year }} | {{ tvShow.genre }}</p>
                        <p>
                          {{ tvShow.network }}
                        </p>
                      </div>
                      <div class="mov_description">
                        <h3>{{ tvShow.title }}</h3>
                        <p>{{ tvShow.plot }}</p>
                        <p><strong>Seasons:</strong> {{ tvShow.seasons }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container mt-5"
  *ngIf="user && user.userRole === 'USER' && !hasReviewed"
>
  <h2>Add a Review</h2>
  <form (ngSubmit)="submitReview()">
    <div class="form-group">
      <label for="reviewTitle">Title</label>
      <input
        type="text"
        class="form-control"
        id="reviewTitle"
        [(ngModel)]="newReview.title"
        name="title"
      />
    </div>
    <div class="form-group">
      <label for="reviewBody">Body</label>
      <textarea
        class="form-control"
        id="reviewBody"
        [(ngModel)]="newReview.body"
        name="body"
      ></textarea>
    </div>
    <button type="submit" class="btn mt-2">Submit Review</button>
  </form>
</div>

<div *ngIf="reviews.length > 0" class="container mt-5">
  <div>
    <h2>Reviews</h2>
    <div *ngFor="let review of reviews">
      <div class="user d-flex align-items-center mt-2">
        <img
          src="{{ review.user.avatar }}"
          alt="avatar"
          class="rounded-circle avatar"
        />
        <h6 class="ms-2">{{ review.user.username }}</h6>
      </div>
      <div class="review">
        <h6>{{ review.title }}</h6>
        <p>{{ review.body }}</p>
      </div>
    </div>
  </div>
</div>
