<div class="container">
  <div *ngIf="user && user.username" class="welcome">
    <h2>Welcome {{ user.username }}</h2>
  </div>

  <div class="header" *ngFor="let currentlyReading of currentlyReading">
    <div class="card">
      <img src="{{ currentlyReading.cover }}" class="card-img" alt="cover" />
      <div class="card-img-overlay">
        <h5 class="card-title">You're reading:</h5>
        <p class="card-text">
          {{ currentlyReading.title }} by {{ currentlyReading.author }}
        </p>
        <button class="btn">Details</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h3>See what's new...</h3>
  <div *ngFor="let book of books">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4 imgcontainer">
          <img
            src="{{ book.cover }}"
            class="cover rounded-start img-fluid"
            alt="book cover"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">Plot: {{ book.plot }}</p>
            <div class="d-flex">
              <p class="card-text">
                <small class="text-muted me-3">Author: {{ book.author }}</small>
              </p>
              <p class="card-text">
                <small class="text-muted">Genre: {{ book.genre }}</small>
              </p>
            </div>
            <button class="btn" routerLink="/books/{{ book.isbnCode }}">
              Details
            </button>
            <button
              class="btn delete"
              *ngIf="isLoggedIn && user && user.userRole === 'ADMIN'"
              (click)="delete(book)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
