.card {
  margin-inline: auto;
  background-color: var(--antique);
  border-color: var(--tan);
  color: var(--gunmetal);
  overflow: hidden;

  .imgcontainer {
    .cover {
      width: 100%;
      object-fit: contain;
      padding: 1.5em;
    }
  }
}

.btn {
  background-color: var(--gunmetal);
  color: var(--antique);
}

.welcome {
  color: var(--gunmetal);
}

.header .card img {
  background-position: center;
  object-fit: cover;
  height: 250px;
}

.header {
  margin-bottom: 2rem;
}

.delete {
  background-color: #500000;
  margin-left: 2em;
}
