.container {
  color: var(--gunmetal);
}

.card {
  margin-inline: auto;
  background-color: var(--antique);
  border-color: var(--tan);
  color: var(--gunmetal);

  .cover {
    height: 100%;
    max-height: 250px;
    object-fit: contain;
    padding: 1.5em;
  }
}

.btn {
  background-color: var(--gunmetal);
  color: var(--antique);
}

.welcome {
  color: var(--gunmetal);
}

.header .card img {
  background-position: center;
  object-fit: cover;
  height: 250px;
}

.header {
  margin-bottom: 2rem;
}

.delete {
  background-color: #500000;
  margin-left: 2em;
}

.search-bar {
  background-color: var(--tan);
  border-radius: 5px;
  padding: 0.2rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: end;
}

svg {
  color: var(--gunmetal);
}
