.userside {
  background-color: var(--tan);
  color: var(--gunmetal);
  padding: 1.5em;
  border-radius: 10px 0 0 10px;
}

.container {
  border: 1px solid var(--tan);
  border-radius: 10px;
}

h3,
span,
h2 {
  color: var(--gunmetal);
}

.avatar {
  aspect-ratio: 1/1;
  height: 100px;
  object-fit: cover;
  transition: 0.2s;
  position: relative;
}
.avatar-container {
  position: relative;
}
.avatar-container:hover .hover {
  position: absolute;
}

.bi-pencil-square {
  bottom: 20%;
  right: 10%;
  color: var(--antique);
  background-color: var(--gunmetal);
  margin: 0.2em;
}

//bookshelf
$darktan: #9a8548;
$grad2: #373737;
$grad1: darken($grad2, 2);
$grad3: lighten($darktan, 4);
$grad5: darken($darktan, 4);

.bookshelf--frame {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.bookshelf--frame {
  background: tan;
  background: url("https://static.tumblr.com/8x9m588/C8ho55ylx/bg-wood2.png"),
    linear-gradient(
      $darktan,
      $darktan 290px,
      $grad3 290px,
      $grad3 292px,
      $darktan 292px,
      $darktan 298px,
      $grad5 298px,
      $grad5 300px
    );
  background-size: auto 250px;
  border-left: 10px solid $darktan;
  border-right: 10px solid $darktan;
  text-align: center;
  &:first-of-type {
    border-top: 10px solid $darktan;
  }
  .book-wrapper {
    display: inline-block;
    min-width: 190px;
    vertical-align: bottom;
    height: 230px;
    position: relative;
    margin: 10px 0;
    max-width: 100%;
    img {
      height: auto;
      width: auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.cover {
  width: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.user {
  background-color: var(--gunmetal);
  color: var(--tan);
  padding: 0.5em;
  border-radius: 10px 10px 0 0;
}

.review {
  background-color: var(--tan);
  color: var(--gunmetal);
  padding: 0.5em;
  border-radius: 0 0 10px 10px;
}

.route-to {
  cursor: pointer;
}
