<div class="main">
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h3>Hello Reader.</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et
          est sed felis aliquet sollicitudin
        </p>
      </div>
    </div>

    <div class="right d-flex flex-column">
      <h5>Login</h5>

      <div class="inputs">
        <input type="text" placeholder="email" />
        <input type="password" placeholder="password" />
      </div>
      <p>
        Don't have an account? <a routerLink="/signup">Create Your Account</a>
      </p>
      <button class="btn justify-content-end">Login</button>
    </div>
  </div>
</div>
