/* You can add global styles to this file, and also import other style files */
$gunmetal-color: #082c38;
$tan-color: #ccab8e;
$antique-color: #fdebd8;

@import "../node_modules/bootstrap/scss/bootstrap";
