/* You can add global styles to this file, and also import other style files */
:root {
  --gunmetal: #082c38;
  --tan: #ccab8e;
  --antique: #fdebd8;
}

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: var(--antique);
}
